@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

:root {
    --text-size: 150px;
    --light-green: #c6ea79;
    --text-gray: #8e8e8e;
    --light-gray: #141414;
    --blue: #543bf0;
}

/*Common*/
p {
    font-size: 16px;
}

body {
    width: 100%;
    /* background: radial-gradient(81.45% 111.08% at 50% 100%, rgba(0, 0, 0, 0.12) 0%, rgba(165, 13, 39, 0.12) 60.76%, rgba(236, 19, 55, 0.12) 77.63%, rgba(0, 0, 0, 0.12) 97.19%), rgb(16, 12, 29); */
    background-color: black;
}

.space {
    width: 100%;
    height: 30vh;
}

.hero {
    position: relative;
    height: 100vh;
    background: black;
    background: url(../images/hero.jpg) 65% no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 80%, rgba(0, 0, 0, 0.9));
}

.hero-text-box {
    position: relative;
    width: 100%;
    transform: translateY(calc(-1 * var(--text-size)));
}

.hero-intro {
    position: absolute;
    top: -20%;
    left: 10%;
    color: var(--light-green);
}

.hero-outro {
    position: relative;
    margin-top: 40px;
    left: 10%;
    max-width: 60%;
    color: var(--text-gray);
}

.hero-outro p {
    line-height: 1.5;
}

.hero-outro a {
    margin-top: 20px;
    display: inline-flex;
    padding: 12px 10px;
    background-color: rgba(142, 142, 142, 0.5);
    border-radius: 30px;
    color: white;
    cursor: pointer;
}

.hero-outro a i {
    margin-left: 10px;
    display: flex;
    align-items: center;
    transform: scale(0.6) translateX(-10px);
    transition: 0.5s;
}

.hero-outro a:hover i {
    transform: scale(1) translateX(0);
}

.parallax-text-box {
    width: 100%;
    /* overflow: hidden; */
    text-align: center;
}

.parallax-text {
    position: relative;
    overflow: hidden;
}

.parallax-text span {
    color: white;
    text-transform: uppercase;
    display: inline-block;
}

.parallax-text span p.off {
    opacity: 0;
    visibility: 0;
}

.parallax-text span p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(var(--text-size) - 20px);
    height: var(--text-size);
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}


.slider,
.intro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.intro {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider {
    background-color: gray;
    transform: translateY(100%);
}

.intro-text {
    font-size: 3rem;
}

.hide {
    margin: 10px 0;
    font-size: 5vw;
    letter-spacing: 7px;
    overflow: hidden;
}

.hide .text {
    display: inline-block;
    transform: translateY(100%);
}


.about {
    padding-bottom: 40px;
    width: 100%;
    background-color: black;
}

.about-box {
    padding: 25px 20px;
    width: 90%;
    margin: auto;
    border-radius: 20px;
}

.head {
    color: white;
    text-align: center;
    font-weight: 500;
}

.head h1 {
    margin-bottom: 10px;
    font-size: 5vw;
    font-family: 'Poppins', sans-serif;
}

.head p {
    color: var(--text-gray);
}

.about-box-cont {
    margin-top: 30px;
    width: 100%;
    display: flex;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    flex-wrap: wrap;
}

.about-cont {
    padding: 15px;
    width: calc(50% - 20px);
    background-color: var(--light-gray);
    border-radius: 20px;
    transition: 0.5s;
}

.about-cont h1 {
    display: inline-block;
    font-size: 18px;
    background-color: var(--light-green);
    border-radius: 20px;
    padding: 4px 15px;
    margin-bottom: 18px;
    text-transform: capitalize;
}

.about-cont p {
    color: var(--text-gray);
}

.about-cont:hover {
    background-color: var(--light-green);
}

.about-cont:hover h1 {
    color: white;
    background-color: var(--light-gray);
}

.about-cont:hover p {
    color: black;
}

svg {
    display: block;
}

.services {
    position: relative;
    width: 100%;
    background-color: var(--light-gray);
}

.sub-head {
    width: 50%;
    color: white;
}

.sub-head h1 {
    text-transform: uppercase;
    font-size: 4vw;
    line-height: 1;
}

.sub-head p {
    color: var(--text-gray);
}

.highlight {
    color: var(--blue);
    font-family: 'Poppins', sans-serif;
}

.services-service {
    width: 100%;
    margin-top: 50px;
}

.services-text {
    width: 80%;
    margin: 20px 0;
    padding: 17px 30px;
    border-radius: 25px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.3s;
}

.services-text span {
    text-transform: capitalize;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.services-text i {
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.services-text:hover {
    background-color: var(--light-green);
    color: black;
    justify-content: center;
}

.services-text:hover i {
    transform: rotate(45deg);
}

.svg-rev {
    transform: scale(-1);
}

.skills {
    width: 100%;
    height: 50vh;
}

.skills-box {
    margin-top: 50px;
    width: 100%;
    height: 300px;
    border-radius: 20px;
    background-color: var(--light-gray);
}





@media (max-width: 1200px) {
    :root {
        --text-size: 120px
    }
}

@media (max-width: 1000px) {
    :root {
        --text-size: 100px;
    }
}

@media (max-width: 800px) {
    .sub-head {
        width: 70%;
    }

    .hero {
        height: calc(100vh - 80px);
    }

    :root {
        --text-size: 80px;
    }
}

@media (max-width: 700px) {
    .sub-head h1 {
        font-size: 6vw;
    }

    .services-text {
        width: 100%;
    }
}

@media (max-width: 600px) {
    p {
        font-size: 14px;
    }

    .hero {
        height: calc(100vh - 60px);
    }

    .about-box-cont {
        display: block;
    }

    .about-cont {
        width: 100%;
        margin: 20px 0;
    }

    .head h1 {
        font-size: 8vw;
    }

    :root {
        --text-size: 60px;
    }

    .sub-head h1 {
        font-size: 5vw;
    }

    .hero-intro {
        font-size: 19px;
    }

    .hero-outro {
        max-width: 80%;
    }

    .about-cont h1 {
        font-size: 16px;
    }
}

@media (max-width: 500px) {
    .services-text span {
        font-size: 14px;
    }

    .sub-head {
        width: 90%;
    }

    .sub-head h1 {
        font-size: 26px;
    }
}

@media (max-width: 400px) {
    .sub-head {
        width: 100%;
    }

    .hero {
        height: calc(100vh - 50px);
    }

    .about-box {
        width: 100%;
    }

    :root {
        --text-size: 50px;
    }
}