@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

:root {
    --text-size: 150px;
    --light-green: #c6ea79;
    --text-gray: #8e8e8e;
    --light-gray: #141414;
    --blue: #543bf0;
    --skills-color: black;
}

/*Common*/
p {
    font-size: 16px;
}

body {
    width: 100%;
    /* background: radial-gradient(81.45% 111.08% at 50% 100%, rgba(0, 0, 0, 0.12) 0%, rgba(165, 13, 39, 0.12) 60.76%, rgba(236, 19, 55, 0.12) 77.63%, rgba(0, 0, 0, 0.12) 97.19%), rgb(16, 12, 29); */
    background-color: black;
}

.space {
    width: 100%;
    height: 30vh;
}

.hero {
    position: relative;
    height: 100vh;
    background: black;
    background: url(../images/hero.jpg) 65% no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 80%, rgba(0, 0, 0, 0.9));
}

.hero-text-box {
    position: relative;
    width: 100%;
    transform: translateY(calc(-1 * var(--text-size)));
}

.hero-intro {
    position: absolute;
    top: -20%;
    left: 10%;
    color: var(--light-green);
}

.hero-outro {
    position: relative;
    margin-top: 40px;
    left: 10%;
    max-width: 60%;
    color: var(--text-gray);
}

.hero-outro p {
    line-height: 1.5;
}

.hero-outro a {
    margin-top: 20px;
    display: inline-flex;
    padding: 12px 10px;
    background-color: rgba(142, 142, 142, 0.5);
    border-radius: 30px;
    color: white;
    cursor: pointer;
}

.hero-outro a i {
    margin-left: 10px;
    display: flex;
    align-items: center;
    transform: scale(0.6) translateX(-10px);
    transition: 0.5s;
}

.hero-outro a:hover i {
    transform: scale(1) translateX(0);
}

.parallax-text-box {
    width: 100%;
    /* overflow: hidden; */
    text-align: center;
}

.parallax-text {
    position: relative;
    overflow: hidden;
}

.parallax-text span {
    color: white;
    text-transform: uppercase;
    display: inline-block;
}

.parallax-text span p.off {
    opacity: 0;
    visibility: 0;
}

.parallax-text span p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(var(--text-size) - 20px);
    height: var(--text-size);
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}


.slider,
.intro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.intro {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider {
    background-color: gray;
    transform: translateY(100%);
}

.intro-text {
    font-size: 3rem;
}

.hide {
    margin: 10px 0;
    font-size: 5vw;
    letter-spacing: 7px;
    overflow: hidden;
}

.hide .text {
    display: inline-block;
    transform: translateY(100%);
}


.about {
    padding-bottom: 40px;
    width: 100%;
    background-color: black;
}

.about-box {
    padding: 25px 20px;
    width: 90%;
    margin: auto;
    border-radius: 20px;
}

.head {
    color: white;
    text-align: center;
    font-weight: 500;
}

.head h1 {
    margin-bottom: 10px;
    font-size: 5vw;
    font-family: 'Poppins', sans-serif;
}

.head p {
    margin: 20px 0;
    color: var(--text-gray);
}

.about-box-cont {
    margin-top: 30px;
    width: 100%;
    display: flex;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    flex-wrap: wrap;
}

.about-cont {
    padding: 15px;
    width: calc(50% - 20px);
    background-color: var(--light-gray);
    border-radius: 20px;
    transition: 0.5s;
}

.about-cont h1 {
    display: inline-block;
    font-size: 18px;
    background-color: var(--light-green);
    border-radius: 20px;
    padding: 4px 15px;
    margin-bottom: 18px;
    text-transform: capitalize;
}

.about-cont p {
    color: var(--text-gray);
}

.about-cont:hover {
    background-color: var(--light-green);
}

.about-cont:hover h1 {
    color: white;
    background-color: var(--light-gray);
}

.about-cont:hover p {
    color: black;
}

svg {
    display: block;
}

.services {
    position: relative;
    width: 100%;
    background-color: var(--light-gray);
}

.sub-head {
    width: 50%;
    color: white;
}

.sub-head h1 {
    text-transform: uppercase;
    font-size: 4vw;
    line-height: 1;
}

.sub-head p {
    color: var(--text-gray);
}

.highlight {
    color: var(--blue);
    font-family: 'Poppins', sans-serif;
}

.warning {
    color: red;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.services-service {
    width: 100%;
    margin-top: 50px;
}

.services-text {
    width: 80%;
    margin: 20px 0;
    padding: 17px 30px;
    border-radius: 25px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    /* transition: 0.3s; */
}

.services-text span {
    text-transform: capitalize;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.services-text i {
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.services-text:hover {
    background-color: var(--light-green);
    color: black;
    justify-content: center;
}

.services-text:hover i {
    transform: rotate(45deg);
}

.svg-rev {
    transform: scale(-1) translateY(10px);
}

.skills-svg {
    background-color: var(--skills-color);
    transition: 0.5s;
}

.skills {
    width: 100%;
    background-color: var(--skills-color);
    transition: 0.5s;
}

.skills-box {
    position: relative;
    display: flex;
    margin-top: 50px;
    width: 100%;
    border-radius: 20px;
    background-color: var(--light-gray);
    overflow: hidden;
}

.skills-nav {
    position: absolute;
    left: 15px;
    bottom: 20px;
    width: 45%;
    height: 50px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    z-index: 3;
}

.skills-nav button {
    width: 50px;
    height: 50px;
    border: 2px solid var(--blue);
    border-radius: 100%;
    background-color: var(--light-gray);
    color: var(--blue);
    font-size: 20px;
    transition: 0.5s;
    cursor: pointer;
}

.skills-nav button:hover {
    border-color: var(--light-green);
    color: var(--light-green);
}

.skills-nav button.load {
    opacity: 0.3;
}

.skills-nav button.off {
    transform: scale(0);
}

.skills-box-text {
    padding: 20px;
    width: 50%;
    color: white;
}

.skills-box-text h1 {
    color: var(--light-green);
    margin-bottom: 15px;
    font-family: 'oswald', sans-serif;
    text-transform: uppercase;
}

.skills-box-text p,
.skills-box-text span {
    font-family: 'poppins', sans-serif;
    font-size: 14px;
}

.skills--box-skills {
    position: relative;
    width: 50%;
    min-height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.skills-skill {
    padding: 20px;
    position: absolute;
    width: 250px;
    height: 250px;
    background-color: black;
    border-radius: 20px;
    color: rgb(237, 237, 237);
}

.skills-logo {
    width: 100%;
    height: 50%;
}

.skills-logo img {
    height: 100%;
}

.skills-skill h1 {
    color: var(--light-green);
    font-family: 'oswald', sans-serif;
    margin-top: 10px;
    text-transform: uppercase;
}

.skills-skill p {
    font-weight: 600;
    text-transform: capitalize;
}


.experience {
    margin-top: 40px;
}

.experience .about-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
}

.experience-left,
.experience-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(50% - 10px);
}

.experience-left {
    position: relative;
    margin-bottom: 30px;
    padding: 0 0 0 40px;
    background: black;
    overflow: hidden;
}

.experience-test {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 40px);
    height: auto;
    color: white;
    opacity: 0;
    z-index: -1;
}

.experience-left-cont {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.experience-trans {
    width: 0;
    height: 0;
    background-color: black;
}

.experience-head {
    width: 100%;
    font-size: 16px;
    color: var(--text-gray);
    display: flex;
    align-items: center;
}

.experience-left img,
.experience-head img {
    height: 70px;
}

.experience-test h1,
.experience-head h1 {
    line-height: 0.9;
    margin-bottom: 10px;
    font-size: 40px;
    text-transform: uppercase;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.experience-show-cont {
    margin: 20px 0;
    cursor: pointer;
}

.experience-show-box {
    padding: 20px 25px;
    color: white;
    background: var(--light-gray);
    border-radius: 20px;
    border: 1px solid black;
    opacity: 0.6;
    box-shadow: black 0px 4px 24px;
    transition: 0.5s;
}

.experience-show-box h1 {
    text-transform: capitalize;
    display: inline;
    vertical-align: middle;
}

.experience-show-box i {
    border: 1px solid var(--color);
    color: var(--color);
    padding: 15px;
    border-radius: 20px;
    margin-right: 25px;
    transition: 0.5s;
}

div.active .experience-show-box {
    border: 1px solid var(--color);
    box-shadow: var(--opacity) 0px 4px 24px;
    opacity: 1;
}

.experience-show-box:hover {
    opacity: 1;
}

.experience-svg {
    margin-top: 100px;
    width: 100%;
    position: relative;
}

.experience-svg svg {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-5px);
}

.projects {
    width: 100%;
    background-color: var(--light-gray);
}

.projects-overlay {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.projects-box {
    position: relative;
    margin-top: 10px;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.project-box-options-box {
    position: absolute;
    right: 0;
    bottom: 20px;
    width: calc(20% - 20px);
    height: calc(80% - 40px);
    overflow: hidden;
    display: flex;
    justify-content: start;
    align-items: center;
    z-index: 3;
}
/* 
.projects-box-options {
} */

.projects-box-options-show {
    margin: 20px 0;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--blue);
    padding: 10px;
    border-radius: 10px;
    background-color: black;
    color: white;
    /* border: none; */
}

.projects-box-options-show:first-child {
    margin-top: 0;
}

.projects-box-options-show:last-child {
    margin-bottom: 0;
}
/* 
.projects-box-options-show p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    white-space: normal;
    text-transform: capitalize;
    font-size: 18px;
    overflow: hidden;
} */

.projects-show-box {
    position: relative;
    width: 80%;
    max-width: 700px;
    height: 100%;
}

.projects-show {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background-color: black;
    border-radius: 20px;
    border: 1px solid rgba(0, 66, 130, 1);
}




@media (max-width: 1200px) {
    :root {
        --text-size: 120px
    }
}

@media (max-width: 1000px) {
    :root {
        --text-size: 100px;
    }

    .experience {
        margin-top: 0;
    }

    .experience .about-box {
        display: block;
    }

    .experience-left {
        width: 100%;
    }

    .experience-right {
        width: 100%;
        height: auto;
    }

    .experience-head {
        align-items: end;
    }

    .experience-right .experience-show {
        padding-left: 40px;
        width: 100%;
        display: flex;
        grid-row-gap: 20px;
        grid-column-gap: 20px;
    }

    .experience-show-cont {
        margin: 0;
    }

    .experience-show-box i {
        padding: 10px;
        margin-right: 10px;
    }

    .experience-show-box h1 {
        font-size: 25px;
    }

    .projects-show-box {
        width: calc(100% - 80px);
    }

    .project-box-options-box {
        width: 60px;
        justify-content: center;
    }

    .projects-box {
        height: 500px;
    }
}

@media (max-width: 800px) {
    .skills-box {
        display: block;
    }

    .skills-box-text {
        width: 100%;
        min-height: 200px;
    }

    .skills--box-skills {
        width: 100%;
    }

    .skills-nav {
        left: 20px;
        bottom: 150px;
        width: calc(100% - 40px);
    }

    .sub-head {
        width: 70%;
    }

    .hero {
        height: calc(100vh - 80px);
    }

    :root {
        --text-size: 80px;
    }
}

@media (max-width: 700px) {
    .experience-left {
        padding: 0;
    }

    .experience-test {
        width: 100%;
    }

    .experience-right .experience-show {
        padding: 0;
        flex-wrap: wrap;
    }

    .experience-show-cont .sub-head h1 {
        font-size: 6vw;
    }

    .services-text {
        width: 100%;
    }

    .projects-box {
        height: 450px;
    }
}

@media (max-width: 600px) {
    .experience-show-box {
        padding: 15px;
    }

    p {
        font-size: 14px;
    }

    .hero {
        height: calc(100vh - 60px);
    }

    .about-box-cont {
        display: block;
    }

    .about-cont {
        width: 100%;
        margin: 20px 0;
    }

    .head h1 {
        font-size: 8vw;
    }

    :root {
        --text-size: 60px;
    }

    .sub-head h1 {
        font-size: 5vw;
    }

    .hero-intro {
        font-size: 19px;
    }

    .hero-outro {
        max-width: 80%;
    }

    .about-cont h1 {
        font-size: 16px;
    }

    .projects-show-box {
        width: 100%;
    }

    .project-box-options-box {
        width: 90%;
        right: 50%;
        transform: translateX(50%);
        height: 60px;
        bottom: 20px;
    }

    .projects-box-options {
        height: 100%;
        display: grid;
        grid-auto-flow: column;
        gap: 20px;
        grid-auto-columns: 60px;
    }

    .projects-box-options-show {
        margin: 0;
    }
}

@media (max-width: 500px) {
    .experience-head h1 {
        font-size: 24px;
    }

    .services-text span {
        font-size: 14px;
    }

    .sub-head {
        width: 90%;
    }

    .sub-head h1 {
        font-size: 26px;
    }
}

@media (max-width: 500px) {
    .projects-box {
        height: 380px;
    }

    .projects-box-options-box {
        height: 50px;
    }

    .projects-box-options-show {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 400px) {
    .skills-box-text {
        min-height: 300px;
    }

    .sub-head {
        width: 100%;
    }

    .hero {
        height: calc(100vh - 50px);
    }

    .about-box {
        width: 100%;
    }

    :root {
        --text-size: 50px;
    }
}

@media (max-width: 330px) {
    .projects-box {
        height: 300px;
    }

    .skills-skill {
        padding: 10px 10px 20px 10px;
        width: 220px;
        height: 220px;
    }
}